body {
    margin: 0;
    padding: 0;
    height: 200vh; /* Garante que o corpo ocupe toda a altura da viewport */
    display: flex;
    flex-direction: column; /* Para garantir que o conteúdo siga a ordem da página */
    /* Alinha os elementos verticalmente */
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

:root {
    --letra: #808080;
    --branco: white;
}